@import "tailwindcss";

:root {
  /* Brand Colors */
  /* --color-primary: #007AFC;
  --color-primary-hover: #0069d1;
  --color-primary-dark: #005bb5; */

  --color-primary: #142d44;
  --color-primary-hover: #0f1f2e;

  
  /* Secondary & Accent */
  --color-secondary: #3ea5ce; /* light blue accent */
  --color-secondary-hover: #358caf;
  --color-accent: #00C896; /* teal accent for contrast */

  /* Background Colors */
  --color-background: #e6f2ff76;

  /* Neutral Palette */
  --color-black: #000000;
  --color-white: #ffffff;


  /* Feedback Colors */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
  --color-info: #007AFC; /* same as primary for consistency */

}

body {
  background-color: #f9fafb;
  color: var(--color-black);
  font-family: var(--font-work-sans), sans-serif;
}

button:hover {
  cursor: pointer;
}

/* Logo Carousel Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% / 2));
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  width: max-content;
}
